*{ margin: 0; padding: 0; box-sizing: border-box;
font-family: 'Crimson+Text', serif;}
.carousel-inner img .item{
	width: 100% ;
	height: 90vh;
	transition: 0.3s ease-in-out left;
}
.profimge{
	height: 50px;
	width:50%;

}
